.contacts-list-group {
    border: none;
}

.card-deck .contact {
    position: relative;
    flex: 0 0 100%;

    @include media-breakpoint-up(md) {
        flex: 0 0 45%;
        transition: transform 0.3s ease 0s;
        &:hover {
            transform: translateY(-5px);
        }
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 30%;
    }

    .name-tag {
        color: $white;
        background-color: $blue;
        @extend .bordered;
        box-shadow: inset 0px 2px 0px 0px rgba($white, 0.5);

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            left: 25px;
            transform: translateY(-50%);
        }
        > * {
            margin: 0;
        }
    }
}

.add-key-contact {
    border: none;

    .card-body {
        padding: 0;
    }

    button.add-contact {
        background-color: $grey;
        border: 2px dashed darken($grey, 20%);
        padding: 40px 30px;
        text-align: center;
        width: 100%;

        &:hover {
            box-shadow: none;

            svg.feather {
                transform: rotate(90deg);
            }
        }

        svg.feather {
            transform: rotate(0deg);
            transition: transform 0.3s ease 0s;
        }

        span {
            color: darken($grey, 30%);
            display: inline-block;
            font-weight: 600;
        }
    }
}