body {
    font-family: monospace;
    background-color: #fff;
}
.bg-blue {
    background-color: $blue;
}
.bg-indigo {
    background-color: $indigo;
}
.bg-purple {
    background-color: $purple;
}
.bg-pink {
    background-color: $pink;
}
.bg-red {
    background-color: $red;
}
.bg-orange {
    background-color: $orange;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-green {
    background-color: $green;
}
.bg-teal {
    background-color: $teal;
}
.bg-cyan {
    background-color: $cyan;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.text-capitalise {
    text-transform: capitalize;
}

.font-weight-bold {
    font-weight: 600;
}

p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
}

form {
    input[type="text"] {
        color: #555555;
        background-color: #ffffff;
        border-radius: 0;
        border-color: #000;
    }
}
.btn {
    font-weight: 600;
    border-radius: 0;
}
.page-title {
    margin-top: 30px;
}

a.action, button.action {
    padding: 2px;
    svg {
        width: 20px;
    }
}

.bordered {
    border-radius: 3px;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}
.card {
    border-radius: 0;
    &.add-new-server-card,
    &.add-new-site-card {
        @extend .bordered;
    }
}

.card-header {
    border-radius: 0;
    &:first-child {
        border-radius: 0;
    }
    button {
        border-radius: 0;
    }
}


button {
    &.action {
        color: #fff;
        font-weight: 600;
        padding: 5px 10px;
        border: 1px solid #000;
        box-shadow: inset 0px 0px 0px 0px transparent,
                    3px 3px 0px 0px #333;
        transition: all 0.2s ease 0s;
        position: relative;
        top: 0;
        right: 0;
        svg {
            max-height:14px;
            width: auto;
            height: 100%;
            position: relative;
            stroke-width: 4px;
        }

        &:hover {
            top: 1px;
            right: -1px;
            box-shadow: inset 0px 0px 0px 0px transparent,
                        2px 2px 0px 0px #333;
        }
        &:focus, &:active {
            outline: none;
            border-color: transparent;
            background-color: darken(#fff, 7%);
            top: 3px;
            right: -3px;
            box-shadow: inset 3px 3px 0px 0px darken(#fff, 20%),
                        0px 0px 0px 0px #333;
        }
    }
    &.add {
        background-color: $green;
        &:hover {
            box-shadow: inset 0px 0px 0px 0px transparent,
                        2px 2px 0px 0px #333;
        }
        &:focus, &:active {
            background-color: darken($green, 7%);
            box-shadow: inset 3px 3px 0px 0px darken($green, 20%),
                        0px 0px 0px 0px #333;
        }
    }
    &.do {
        background-color: $blue;
        &:hover {
            box-shadow: inset 0px 0px 0px 0px transparent,
                        2px 2px 0px 0px #333;
        }
        &:focus, &:active {
            background-color: darken($blue, 7%);
            box-shadow: inset 3px 3px 0px 0px darken($blue, 20%),
                        0px 0px 0px 0px #333;
        }
    }
    &.delete {
        background-color: $red;
        svg {
            stroke: #fff;
        }
        &:hover {
            box-shadow: inset 0px 0px 0px 0px transparent,
                        2px 2px 0px 0px #333;
        }
        &:focus, &:active {
            background-color: darken($red, 7%);
            box-shadow: inset 3px 3px 0px 0px darken($red, 20%),
                        0px 0px 0px 0px #333;
        }
    }
}

#areYouSureModal {
    .close {
        opacity: 1;
        color: #fff;
    }
    .modal-header, .modal-footer {
        border: none;
    }
    #if-this-is-a-server {
        display: none;
    }
}