[id*="server-accordion"] {
    .card {
        border-radius: 3px;
        border: 2px solid #000;
        box-shadow: 5px 5px 0px 0px rgba(#000, 0.1);
        & + .card {
            margin-top: 20px;
        }
    }
    .card-header {
        position: relative;
        background-color: $blue;
        &:hover, &:focus, &:active {
            background-color: darken($blue, 5%);
        }
    }
    .card-body {
        padding: 0;
    }
    button[data-toggle="collapse"] {
        width: 100%;
        height: 100%;
        color: #fff;
        padding-right: 47px;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }
    .nested-form {
        position: absolute;
        z-index: 2;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

[id*="site-accordion"] {
    list-style: none;
    padding: 0;
    margin: 0;
    button.action {
        border-radius: 50%;
    }
    .card {
        padding: 0;
        border: none;
        box-shadow: none;
        position: relative;
        &:nth-child(odd) button[data-toggle="collapse"] {
            background-color: #fdfdfd;
            &:hover, &:focus, &:active, &[aria-expanded="true"] {
                background: darken(#fdfdfd, 2%);
            }
        }
        &:nth-child(even) button[data-toggle="collapse"] {
            background-color: #efefef;
            &:hover, &:focus, &:active, &[aria-expanded="true"] {
                background: darken(#efefef, 3%);
            }
        }
        & + .card {
            margin-top: 0;
        }
        .card-header {
            border-bottom: 0;
        }
        button[data-toggle="collapse"] {
            color: #000;
        }
    }
}
